@import './colors';
@import './typography';
@import './layout';

* {
	outline: 1px solid transparent;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button,
input {
	background: transparent;
	border: none;
	font: inherit;
}

button {
	cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

li {
	list-style: none;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	@include color-transition();

	@include themed() {
		background-color: t(background-color);
	}
}

.app {
	width: $desktop-content-width;
	padding: 56px 0;

	@include on-tablet {
		width: 100%;
		padding: 56px 40px;
	}

	@include on-mobile {
		padding: 24px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.element {
		transition-property: none;
		transition-duration: 0ms;
	}
}
