// Colors
$neutral-950: #000000;
$neutral-900: #1f1f1f;
$neutral-800: #2d2d2d;
$neutral-700: #3a3a3a;
$neutral-500: #757575;
$neutral-200: #e9e9e9;
$neutral-100: #f4f4f4;
$neutral-0: #ffffff;
$purple-600: #8f19e8;
$purple-500: #a445ed;
$red-500: #ff5252;

// Fuentes Base
$font-sans: 'Inter', sans-serif;
$font-serif: 'Lora', serif;
$font-mono: 'Inconsolata', monospace;

// --- PRESET 1 (64px) ---
$text-preset-1-sans-bold: 700 64px/77px $font-sans;
$text-preset-1-serif-bold: 700 64px/77px $font-serif;
$text-preset-1-mono-bold: 700 64px/77px $font-mono;

// --- PRESET 2 (24px) ---
$text-preset-2-sans-bold: 700 24px/29px $font-sans;
$text-preset-2-serif-bold: 700 24px/29px $font-serif;
$text-preset-2-mono-bold: 700 24px/29px $font-mono;

// --- PRESET 3 (20px) ---
$text-preset-3-sans-bold: 700 20px/24px $font-sans;
$text-preset-3-serif-bold: 700 20px/24px $font-serif;
$text-preset-3-mono-bold: 700 20px/24px $font-mono;

// --- PRESET 4 (18px Regular) ---
$text-preset-4-sans-regular: 400 18px/24px $font-sans;
$text-preset-4-serif-regular: 400 18px/24px $font-serif;
$text-preset-4-mono-regular: 400 18px/24px $font-mono;

// --- PRESET 5 (14px Regular) ---
$text-preset-5-sans-regular: 400 14px/17px $font-sans;
$text-preset-5-serif-regular: 400 14px/17px $font-serif;
$text-preset-5-mono-regular: 400 14px/17px $font-mono;

// --- PRESET 6 (18px Bold) ---
$text-preset-6-sans-bold: 700 18px/22px $font-sans;
$text-preset-6-serif-bold: 700 18px/22px $font-serif;
$text-preset-6-mono-bold: 700 18px/22px $font-mono;

// --- PRESET 7 (16px Regular) ---
$text-preset-7-sans-regular: 400 16px/20px $font-sans;
$text-preset-7-serif-regular: 400 16px/20px $font-serif;
$text-preset-7-mono-regular: 400 16px/20px $font-mono;

// --- PRESET 8 (16px Bold) ---
$text-preset-8-sans-bold: 700 16px/20px $font-sans;
$text-preset-8-serif-bold: 700 16px/20px $font-serif;
$text-preset-8-mono-bold: 700 16px/20px $font-mono;

// --- PRESET 9 (15px Regular) ---
$text-preset-9-sans-regular: 400 15px/18px $font-sans;
$text-preset-9-serif-regular: 400 15px/18px $font-serif;
$text-preset-9-mono-regular: 400 15px/18px $font-mono;

// --- PRESET 10 (15px Bold) ---
$text-preset-10-sans-bold: 700 15px/18px $font-sans;
$text-preset-10-serif-bold: 700 15px/18px $font-serif;
$text-preset-10-mono-bold: 700 15px/18px $font-mono;

// --- PRESET 11 (14px Regular) ---
$text-preset-11-sans-regular: 400 14px/17px $font-sans;
$text-preset-11-serif-regular: 400 14px/17px $font-serif;
$text-preset-11-mono-regular: 400 14px/17px $font-mono;

// --- PRESET 12 (14px Bold) ---
$text-preset-12-sans-bold: 700 14px/17px $font-sans;
$text-preset-12-serif-bold: 700 14px/17px $font-serif;
$text-preset-12-mono-bold: 700 14px/17px $font-mono;

// --- PRESET 13 (12px Regular) ---
$text-preset-13-sans-regular: 400 12px/15px $font-sans;
$text-preset-13-serif-regular: 400 12px/15px $font-serif;
$text-preset-13-mono-regular: 400 12px/15px $font-mono;
