@import '../../styles';

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 8px;
	padding-top: 21px;
	padding-bottom: 58px;
	@include text-preset-7-regular;

	@include themed() {
		border-top: 1px solid t(line-color);
	}

	@include on-mobile {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 20px;

		@include on-mobile {
			column-gap: 10px;
		}
	}

	p {
		color: $neutral-500;
		text-decoration: underline;
	}

	a {
		text-decoration: underline;
		@include color-transition();

		@include themed() {
			color: t(text-color);
		}
	}
}
