@import '../../styles';

.meanings {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin-bottom: 48px;

	@include on-mobile {
		margin-bottom: 32px;
	}

	.meaning {
		display: flex;
		flex-direction: column;
		row-gap: 40px;

		@include on-mobile {
			row-gap: 32px;
		}

		&__part-of-speech {
			display: flex;
			flex-direction: row;
			column-gap: 20px;
			align-items: center;

			span {
				@include text-preset-2-bold-italic;
				@include color-transition();

				@include themed() {
					color: t(text-color);
				}

				@include on-mobile {
					@include text-preset-4-mobile-bold-italic;
				}
			}

			div {
				flex: 1;
				height: 1px;
				@include color-transition();

				@include themed() {
					background-color: t(line-color);
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
		}

		&__title {
			color: $neutral-500;
			@include text-preset-3-regular;

			@include on-mobile {
				@include text-preset-5-mobile-regular;
			}
		}

		&__list {
			display: flex;
			flex-direction: column;
			row-gap: 12px;

			li {
				@include text-preset-4-regular;
				padding-left: 48px;
				position: relative;
				@include color-transition();
				display: flex;
				flex-direction: column;
				row-gap: 12px;

				@include themed() {
					color: t(text-color);
				}

				@include on-mobile {
					@include text-preset-6-mobile;
				}

				&:before {
					content: '';
					position: absolute;
					top: 8px;
					left: 22px;
					width: 5px;
					height: 5px;
					background-color: $purple-600;
					border-radius: 50%;
				}
			}
		}

		&__sample {
			color: $neutral-500;
			@include text-preset-4-regular;

			@include on-mobile {
				@include text-preset-6-mobile;
			}
		}

		&__synonyms {
			color: $neutral-500;
			@include text-preset-3-regular;
			padding-top: 24px;
			display: flex;
			flex-direction: row;
			column-gap: 24px;

			@include on-mobile {
				@include text-preset-6-mobile;
				padding-top: 0;
			}

			a {
				color: $purple-500;
				@include text-preset-3-bold;
				text-decoration: none;

				@include on-mobile {
					@include text-preset-5-mobile-bold;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
